<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-security4">
<head>
<meta charset="ISO-8859-1">
<title>main</title>
<link rel="stylesheet" type="text/css" th:href="@{/resources/styles.css}" />
</head>
<body>
<h1>main.html (thymeleaf)</h1>

<div sec:authorize="isAuthenticated()">
Hello <span sec:authentication="name">someone</span>
</div>

<ul>
  <li><a th:href="@{/sec/}">secure webpage</a></li>
  <li><a th:href="@{/insec/}">insecure webpage</a></li>
  
  <li sec:authorize-url="/admin">
      <!-- rendered only if user has privilages to see /admin -->
	  <a th:href="@{/admin/}"><b>admin webpage</b></a>
  </li>
</ul>

<!-- LOGOUT has to use POST FORM, otherwise it will not work (requires CSRF hidden token) -->
<form th:action="@{/logout}" method="POST">
     <input type="submit" value="Logout"/>
</form>

</body>
</html>